.gameContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-height: 0;
  background: #000;
  overflow: hidden;
  touch-action: none; /* Prevent default touch behavior */
  position: relative;
}

.gameCanvas {
  width: 100%;
  max-width: 430px;
  height: 100%;
  min-height: 0;
  display: block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  object-fit: contain;
}
