.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--background);
}

.title {
  font-family: var(--font-pixelify), cursive;
  font-size: 2rem;
  color: var(--color-text-cream);
  margin-bottom: 1rem;
}

.subtitle {
  font-family: var(--font-pixelify), cursive;
  font-size: 1rem;
  color: var(--color-text-secondary);
}
